//Variables 
$font-size-base :1em; 

$color-primary         : #e51c23;  
$color-secondary       : #ffc107; 

//$color-primary         : #88170C;  
//$color-secondary       : #CF9D00;   
$color-white: #fff;

$bg-primary: rgba(51, 51, 51, 0.75);