.sidebar {
	@extend %display--block;
	@extend %padding--base; 
}
	.sidebar__header {
		@extend %margin-bottom--base; 

		h1 {
			@extend %color--white ;
			@extend %text-align--center;
			@extend %font-family--roboto ;
			@extend %font-weight--400;
		}
	
		em{
		 	@extend %display--block;
		 	@extend %text-align--center;
		 	@extend %color--white ;
		 	@extend %font-family--roboto ;
		 	//Change font
		}  
		img {
				@extend %block--center; 
				@extend %width--60percent;
				@extend %margin-bottom--base;
		}  
	}
	.sidebar__nav {
		a {
			@extend %font-family--roboto ;
			@extend %font-weight--300;
			@extend %display--block;
			@extend %color--white ;
			padding: $font-size--base/2 0; 
			border-bottom: 1px solid rgba($color-white, 0.5);
		}
	}
	.sidenav__social {
		@extend %position--absolute;
		@extend %bottom--base;
		@extend %left--0;
		@extend %text-align--center;
		@extend %width--100percent;
		span {
			color: rgba($color-white, 0.5);  
			font-size: 2em;
			margin: 0 0.25em;
			&:hover {
				color: $color-white;
			}
		}

	}
	.sidenav__footer {
		
	}
