body {
	background-color: #000;
}










.content,
.content--carta {
	position: absolute;
	padding: $font-size-base;
	left:20%; 
	background-color:rgba(255,255,255,.8);
	width: 40%;
}

.content__title {
	color: $color-primary;
	text-align:center;
}

.list{
	.content__title {
		color: $color-primary;
		text-align:center;
	}
	.content__item {
			
	}
	.content__item__title {
		margin:$font-size-base/2 0;
	}
	.content__item__article { 
			@include clearfix;
			figcaption {
				float: left;
				width: 80%;
				padding-left: $font-size-base;
			}
			img {
				display: block;
				float: left;
				width: 20%;
				border: 4px solid $color-white;
			} 
	}
} 
.list--blocks {
	.list__item {
		position: relative; 
		background-size: cover;
		background-position: center;
		height: em(200);
		border-radius: em(2);
		border: em(2) solid $color-white;
		box-shadow: em(2px) em(2px) em(1px) em(1px) $bg-primary;
		transition: border 0.5s ease; 

		&:hover {
			border-color: $color-primary;
			.list__item__title {
				background-color: $color-primary;
			}
		}
		&.pollo-brasa {
			background-image: url('../images/pollobrasa1.jpg');
		}
	}
	.list__item__title {
		font-size: em(24);
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: rgba(0,0,0,.5) ;
		border-radius: 0 em(2,24) 0 0;
		padding: em(8) em(16);
		line-height: 1;
		color: $color-white;
		text-shadow: 1px 1px 1px #000000;
		font-weight: 300;
		@include transition ( background 0.5s ease ); 
	}
}
#map {
	height: em(400);
	box-shadow: em(2px) em(2px) em(1px) em(1px) $bg-primary;
	border-radius: em(4);
}
#slider{
	border: em(2) solid $color-white;
	box-shadow: em(2px) em(2px) em(1px) em(1px) $bg-primary;
	margin-bottom:em(16);
}
address {
	padding :em(16);
	position: relative;
	.fa { 
		position: relative; 
		font-size: em(50);  
	}
	span {
		position: relative; 
	}
}
.banner--promo {
	max-width:100%;
	border: em(2) solid $color-white;
	box-shadow: em(2px) em(2px) em(1px) em(1px) $bg-primary;
}
.clearfix {
	@include clearfix;
}
.col-50, .form--contactanos {
	float: left;
	width:50%;
}
img.responsive{
	max-width: 100%;
}
// form
fieldset {
	border: 0;
}
.form--contactanos {
	background-color: rgba(226, 179, 102,.2);
	input,
	textarea {
		display: block;
		padding: em(8) em(16);
		width: 100%; 
		border: 0;
	}
	textarea {
		display: block;
		height: em(100);
	}
	input[type="submit"],
	button {
		border: 0;//reset
		display: block;
		margin:0  em(16) em(16) em(16);
		background-color: $color-primary;
		padding: em(8) em(16);
		color: $color-white;
		border-radius: em(2);
	}
}
// Plates
.plate {
	@include clearfix;
	position: relative;
	border-bottom: em(1) solid $bg-primary;
	.plate__photo {
		float: left;
		width: em(150);
		height: em(150);
		background-size: cover;
		background-position: center;
		box-shadow: em(1px) em(1px) em(1px) em(1px) $bg-primary;
		margin: em(16) em(16) em(16) 0;
	}

	figure{
		float: left;
		padding: em(16) 0;
		@include calc("width","100% - #{em(150)} - 80px");
		p {
			margin: em(16) 0 0 0;
		}
	} 
	span {
		position: absolute;
		top: em(16);
		right:0;
		font-weight: bold;
		color: $color-primary;
		width: em(80px);
	} 
}

.footer {
	position: fixed;
	font-family: 'Roboto';
	background-color: rgba(0,0,0,.8);
	bottom:0;
	text-align:center;
	color: $color-white;
	left:20%;
	width: 80%;
}